// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex-grid-4{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  > * {
    width: 25%;
    @media (max-width: 720px){
      width: 50%;
    }
  }
}

.todo-item {
  list-style: none;
  &.red-color {
    color: red;
  }
}